
.text-content-box {
    background-color: #fdfdfa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 900px; 
}

.text-content-box h2,
.text-content-box h3 {
    color: var(--color-principal);
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 25px;
}

.text-content-box h2 {
    margin-top: 0;
}

.text-content-box p,
.text-content-box li {
    font-size: 1.1rem;
    line-height: 1.7; 
    color: #333;
}

.text-content-box strong {
    color: var(--color-principal);
}

.text-content-box ul {
    padding-left: 25px;
}

.text-content-box li {
    margin-bottom: 15px;
}

.text-content-box hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}


.main-nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}